In [45]:
import requests
import pandas as pd

In [46]:
api_key = "f275aa333c628e5a702c7d4f1fce6cdb"

In [72]:
cities_dict = {
    "PAT": ["Mieres", "ES"],
    "FRAN": ["Sevilla", "ES"],
    "AITOR": ["Zarautz", "ES"],
    "ISRA": ["Barcelona", "ES"],
    "GUS": ["Madrid", "ES"],
    "Emi": ['Alpedrete', 'ES'],
    'Lou': ['Pozuelo', 'ES'],
    }

In [73]:
cities_dict

{'PAT': ['Mieres', 'ES'],
 'FRAN': ['Sevilla', 'ES'],
 'AITOR': ['Zarautz', 'ES'],
 'ISRA': ['Barcelona', 'ES'],
 'GUS': ['Madrid', 'ES'],
 'Emi': ['Alpedrete', 'ES'],
 'Lou': ['Pozuelo', 'ES']}

In [74]:
coords_dict = {}
for k, v in cities_dict.items():
    #print(k, v[0])
    URL = "https://api.openweathermap.org/data/2.5/weather?q={0},{1}&appid={2}" \
        .format(v[0], v[1], api_key)
    response = requests.get(url = URL)
    data = response.json()
    coords_dict[k] = [
        data["coord"]["lon"], 
        data["coord"]["lat"],
        data["dt"]]

In [53]:
#data

In [75]:
coords_dict

{'PAT': [-5.7667, 43.25, 1654340409],
 'FRAN': [-5.9761, 37.3824, 1654340670],
 'AITOR': [-2.1699, 43.2844, 1654340578],
 'ISRA': [2.159, 41.3888, 1654340452],
 'GUS': [-3.7026, 40.4165, 1654340153],
 'Emi': [-4.0251, 40.6589, 1654340786],
 'Lou': [-2.101, 38.8099, 1654340682]}

In [76]:
measures_dict = {}
for k, v in coords_dict.items():
    #print(k, v[0])
    URL = "https://api.openweathermap.org/data/2.5/weather?lat={1}&lon={0}&appid={2}&units=metric" \
        .format(v[0], v[1], api_key)
    PARAMS = {}
    response = requests.get(url = URL, params = PARAMS)
    data = response.json()
    measures_dict[cities_dict[k][0]] = \
        [data["main"]["temp"],
        data["main"]["pressure"],
        data["main"]["humidity"],
        data["dt"]]

In [77]:
measures_dict

{'Mieres': [15.52, 1016, 64, 1654340409],
 'Sevilla': [23.28, 1016, 53, 1654340482],
 'Zarautz': [19.19, 1016, 80, 1654340584],
 'Barcelona': [25.42, 1014, 70, 1654340452],
 'Madrid': [22.94, 1017, 43, 1654340151],
 'Alpedrete': [20.41, 1016, 49, 1654340606],
 'Pozuelo': [23.01, 1015, 31, 1654340754]}

In [78]:
x = pd.DataFrame(measures_dict).T
x = x.rename(
    columns = {
        0: "temp", 
        1: "pressure", 
        2: "humidity",
        3: 'dt'})
x["pressure"] = x["pressure"].astype("int")
x["humidity"] = x["humidity"].astype("int")
x["dt"] = x["dt"].astype("int")    
x

            temp  pressure  humidity          dt
Mieres     15.52      1016        64  1654340409
Sevilla    23.28      1016        53  1654340482
Zarautz    19.19      1016        80  1654340584
Barcelona  25.42      1014        70  1654340452
Madrid     22.94      1017        43  1654340151
Alpedrete  20.41      1016        49  1654340606
Pozuelo    23.01      1015        31  1654340754

In [79]:
x['datetime'] = pd.to_datetime(x['dt'], unit='s')
x

            temp  pressure  humidity          dt            datetime
Mieres     15.52      1016        64  1654340409 2022-06-04 11:00:09
Sevilla    23.28      1016        53  1654340482 2022-06-04 11:01:22
Zarautz    19.19      1016        80  1654340584 2022-06-04 11:03:04
Barcelona  25.42      1014        70  1654340452 2022-06-04 11:00:52
Madrid     22.94      1017        43  1654340151 2022-06-04 10:55:51
Alpedrete  20.41      1016        49  1654340606 2022-06-04 11:03:26
Pozuelo    23.01      1015        31  1654340754 2022-06-04 11:05:54

In [80]:
x = x.drop(['dt'], axis=1)
x

            temp  pressure  humidity            datetime
Mieres     15.52      1016        64 2022-06-04 11:00:09
Sevilla    23.28      1016        53 2022-06-04 11:01:22
Zarautz    19.19      1016        80 2022-06-04 11:03:04
Barcelona  25.42      1014        70 2022-06-04 11:00:52
Madrid     22.94      1017        43 2022-06-04 10:55:51
Alpedrete  20.41      1016        49 2022-06-04 11:03:26
Pozuelo    23.01      1015        31 2022-06-04 11:05:54

In [81]:
x = x.set_index([x.index, 'datetime'])
x

                                temp  pressure  humidity
          datetime
Mieres    2022-06-04 11:00:09  15.52      1016        64
Sevilla   2022-06-04 11:01:22  23.28      1016        53
Zarautz   2022-06-04 11:03:04  19.19      1016        80
Barcelona 2022-06-04 11:00:52  25.42      1014        70
Madrid    2022-06-04 10:55:51  22.94      1017        43
Alpedrete 2022-06-04 11:03:26  20.41      1016        49
Pozuelo   2022-06-04 11:05:54  23.01      1015        31

In [32]:
x.index

MultiIndex([(   'Mieres', 1654339987),
            (  'Sevilla', 1654339840),
            (  'Zarautz', 1654339824),
            ('Barcelona', 1654339561),
            (   'Madrid', 1654339994)],
           names=[None, 'dt'])